<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="format-detection" content="telephone=no">
	<title>Cobalt</title>

	<!-- components -->
	<!--<link rv-component="components/animate">-->
	<!-- /components -->

	<!-- styles -->
	<link rel="stylesheet" href="engine/css/app.css">
	<link rel="stylesheet" href="styles/animation.css">
	<!-- /styles -->
</head>
<body rv-class-animate="animated">

	<article class="slide" rv-controller="animate">
		<rv-template name="layout"></rv-template>
		<h1 rv-html="t.h1"></h1>

		<ul class="anim-list">
			<li class="alert alert-info" rv-html="t.item1"></li>
			<li class="alert alert-info" rv-html="t.item2"></li>
			<li class="alert alert-info" rv-html="t.item3"></li>
			<li class="alert alert-info" rv-html="t.item4"></li>
			<li class="alert alert-info" rv-html="t.item5"></li>
		</ul>
		<rv-template name="readme"></rv-template>
	</article>


	<script src="../spa/bundle.js"></script>
</body>
</html>
