<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="format-detection" content="telephone=no">
	<title>Cobalt</title>

	<!-- components -->
	<link rv-component="components/graphs">
	<!-- /components -->

	<!-- styles -->
	<link rel="stylesheet" href="engine/css/app.css">
	<link rel="stylesheet" href="components/graphs/graph.css">
	<link rel="stylesheet" href="components/graphs/bar/editor.css">
	<link rel="stylesheet" href="styles/bar-graphs.css">
	<!-- /styles -->
</head>
<body>
	<article class="slide" rv-controller="bar-graph-revert">
		<rv-template name="layout"></rv-template>
		<h1 rv-html="t.h1"></h1>
		<div rv-bar-graph="barGraphModel" class="wrapper"></div>
		<rv-template name="readme"></rv-template>
	</article>

	<script src="../spa/bundle.js"></script>
</body>
</html>
