<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="format-detection" content="telephone=no">
	<title>Cobalt</title>

	<!-- components -->
	<!-- /components -->

	<!-- styles -->
	<link rel="stylesheet" href="engine/css/app.css">
	<link rel="stylesheet" href="styles/clicker.css">
	<!-- /styles -->
</head>
<body>
	<article class="slide" rv-controller="tabs">
		<rv-template name="layout"></rv-template>
		<!-- content -->
		<h1 rv-html="t.header"></h1>
		<div rv-each-man="peoples" rv-class-active="man.isActive">
			<button rv-html="man.name" rv-on-tap="activate" class="paint btn btn-lg btn-primary"></button>
			<img rv-src="src < man.name" width="400">
		</div>
	</article>

	<script src="../spa/bundle.js"></script>
</body>
</html>
