<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="format-detection" content="telephone=no">
	<title>Cobalt</title>

	<!-- components -->
	<link rv-component="components/playing">
	<!-- /components -->

	<!-- styles -->
	<link rel="stylesheet" href="engine/css/app.css">
	<link rel="stylesheet" href="styles/common/popup.css">
	<link rel="stylesheet" href="styles/video-popup.css">
	<!-- /styles -->
</head>
<body>
<article class="slide" rv-controller="popup-controller">
	<rv-template name="layout"></rv-template>
	<h1 rv-html="t.header"></h1>
	<button rv-on-tap="popup.openPopup" class="btn btn-lg btn-primary">Попап</button>
	<div class="popup panel panel-info" rv-show="popup.isActive">
		<div class="panel-heading">
			<h3 class="panel-title" rv-html="t.popupHeader"></h3>
		</div>
		<div class="panel-body">
			<video src="media/videos/video-popup/New CLM Tool - eWizard.m4v" poster="media/images/video-popup/poster.png" controls="controls" rv-playing="popup.isActive" ></video>
			<!--<video src="media/videos/video-popup/New CLM Tool - eWizard.mp4" controls="controls" rv-playing="popup.isActive" width="100"></video>-->
			<button class="close-popup" rv-on-tap="popup.closePopup">&times;</button>
		</div>
	</div>
	<rv-template name="readme"></rv-template>
</article>

<script src="../spa/bundle.js"></script>
</body>
</html>